<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulaciones Estadísticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/c1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Simulaciones de Distribuciones Estadísticas</h1>
        <p>Selecciona una simulación para ejecutar:</p>
        
        <div class="button-grid">
            <a href="/bernoulli" class="sim-button">Distribución de Bernoulli</a>
            <a href="/exponencial" class="sim-button">Distribución Exponencial</a>
            <a href="/multinomial" class="sim-button">Distribución Multinomial</a>
            <a href="/binomial" class="sim-button">Distribución Binomial</a>
            <a href="/normal" class="sim-button">Distribución Normal</a>
            <a href="/gebbs" class="sim-button">Simulacion de gebbs</a>
        </div>
    </div>
</body>
</html>